@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply font-Inter;
  }
  ::-webkit-scrollbar {
    display: none;
  }
}
@layer utilities {
  .container_fluid {
    max-width: 1120px;
    width: 100%;
    margin: 0 auto;
  }
}
